$font-family: 'Poppins', sans-serif;
$padding-bottom-header: 35px;
$position-relative: relative;
$position-absolute: absolute;
$margin-bottom-user: 35px;
$green: #57b846;
$base-font-size: 18px;
$base-height: 44px;
$alignment-center: center;
$thick: 900;
$thin: 700;
$thinner: 600;
$gray: #d3d3d3;
$base-border-radius: 25px;
$brighter-black: #333;
$base-padding-top: 85px;
